{% extends "layout.twig" %}
{% block title %}{{ tr.l_login_title }}{% endblock %}
{% block content %}
    <form action="login2.php" method="post">
        <TABLE CELLPADDING="4">
            <TR>
                <TD align="right">{{  tr.l_login_email }}</TD>
                <TD align="left"><INPUT TYPE="TEXT" NAME="email" SIZE="20" MAXLENGTH="40" VALUE=""/></TD>
            </TR>
            <TR>
                <TD align="right">{{  tr.l_login_pw }}</TD>
                <TD align="left"><INPUT TYPE="PASSWORD" NAME="pass" SIZE="20" MAXLENGTH="20" VALUE=""/></TD>
            </TR>
            <TR>
                <TD colspan="2">
                    Forgot your password?  Enter it blank and press login.
                </TD>
            </TR>
            <TR>
                <TD colspan=2>
                    <INPUT TYPE="SUBMIT" VALUE="{{ tr.l_login_title }}">
                </TD>
            </TR>
            <TR>
                <TD colspan=2>
                    {{ tr.l_login_newp }}<br/>
                    {{ tr.l_login_prbs }} <A HREF="mailto:{{  admin_mail }}">{{ tr.l_login_emailus }}</A>
                </TD>
            </TR>
            <TR>
                <TD colspan=2>
                    {% if link_forums %}<A HREF="{{  link_forums }}" TARGET="_blank">{{  tr.l_forums }}</A> -{% endif %}
                    <A HREF="ranking.php">{{ tr.l_rankings }}</A> -
                    <A HREF="settings.php">{{ tr.l_login_settings }}</A>
                </TD>
            </TR>
        </TABLE>
    </FORM>
{% endblock %}