{% extends "layout.twig" %}
{% block title %}{{ tr.l_ranks_title }}{% endblock %}
{% block content %}
    <h1>{{ tr.l_score }}</h1>
    <TABLE>
        <TR >
            <TD>{{ tr.l_player }}</TD>
            <TD>{{ tr.l_score }}</TD>
            <td>Eff. Rating.</td>
            <td>{{ tr.l_team_alliance }}</td>
        </tr>
        {% for ship in shipsAsTopScore %}
            <TR >
                <TD>{{ ship.name() }}</TD>
                <TD>{{ ship.score() }}</TD>
                <TD>{{ ship.efficiency() }}</TD>
                <TD>{{ ship.team() }}</TD>
            </tr>
        {% endfor %}
    </table>
    <h1>{{ tr.l_turns_used }}</h1>
    <TABLE>
        <TR >
            <TD>{{ tr.l_player }}</TD>
            <TD>{{ tr.l_turns_used }}</TD>
            <td>Eff. Rating.</td>
            <td>{{ tr.l_team_alliance }}</td>
        </tr>
        {% for ship in shipsAsTopScore %}
            <TR >
                <TD>{{ ship.name() }}</TD>
                <TD>{{ ship.turnsUsed() }}</TD>
                <TD>{{ ship.efficiency() }}</TD>
                <TD>{{ ship.team() }}</TD>
            </tr>
        {% endfor %}
    </table>
    <h1>{{ tr.l_ranks_good }}</h1>
    <TABLE>
        <TR >
            <TD>{{ tr.l_player }}</TD>
            <TD>{{ tr.l_rating }}</TD>
            <td>Eff. Rating.</td>
            <td>{{ tr.l_team_alliance }}</td>
        </tr>
        {% for ship in shipsAsTopRating %}
            <TR >
                <TD>{{ ship.name() }}</TD>
                <TD>{{ ship.rating() }}</TD>
                <TD>{{ ship.efficiency() }}</TD>
                <TD>{{ ship.team() }}</TD>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
