{% extends "layout.twig" %}
{% block title %}{{ tr.l_news_title }}{% endblock %}
{% block content %}


    <table width="73%" border="0" cellspacing="2" cellpadding="2">
        <tr>
            <td height="73" width="27%"><img src="images/bnnhead.gif" width="312" height="123" alt="The BlackNova Network"></td>
            <td height="73" width="73%" bgcolor="#000000" valign="bottom" align="right">
                <p><font size="-1">{{ tr.l_news_info }}</font></p>
                <p>{{ tr.l_news_for }} {{ startdate|date('Y-m-d') }}</p>
            </td>
        </tr>
        <tr>
            <td height="22" width="27%" bgcolor="#00001A">&nbsp;</td>
            <td height="22" width="73%" bgcolor="#00001A" align="right">
                <a href="news2.php?startdate={{ previousday|date('Y-m-d') }}">{{ tr.l_news_prev }}</a> - <a href="news2.php?startdate={{  nextday|date('Y-m-d') }}">{{ tr.l_news_next }}</a>
            </td>
        </tr>
        {% if news is empty %}
            <tr>
                <td bgcolor="#00001A" align="center">{{ tr.l_news_flash }}</td><td bgcolor="#00001A" align="right">{{ tr.l_news_none }}</td>
            </tr>
        {% else %}
            {% for newsItem in news %}
                <tr>
                    <td bgcolor="#000033" align="center">{{ newsItem.headline }}</td>
                    <td bgcolor="#000033">
                        <p align="justify">{{ newsItem.newstext }}</p><br>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}
